h1,
h2,
h3,
h4,
h5 {
	font-size: 55px !important;
	color: black !important;
}
a {
	text-decoration: none !important;
	color: black;
	font-size: 1.1em !important;
	font-family: "Open Sans", sans-serif !important;
}
p {
	color: black;
	font-family: "Open Sans", sans-serif;
}
.card-title {
	font-size: 1.6em;
	font-family: "Knewave", cursive !important;
}
